body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(225, 191, 0);
    color: white;
    text-align: center;
    padding: 30px 10px;
}

nav {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgb(225, 191, 0);
    color: white;
    margin-top: 20px;
}
